<?xml version="1.0" encoding="utf-8"?>

<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.thain.duo"
	android:sharedUserId="android.uid.system"
	coreApp="true">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<uses-permission android:name="android.permission.WRITE_SETTINGS" />

	<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	
	<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>

    <uses-permission android:name="android.permission.DEVICE_POWER"/>

	<protected-broadcast android:name="com.thain.duo.LAUNCHER_RESTART" />

	<application android:name=".PostureProcessorApp"
		android:directBootAware="true"
		android:persistent="true"
		android:process="com.thain.duo"
		android:icon="@drawable/ic_settings"
        android:label="DUO-DE Posture Processor">
		<service android:name="PostureProcessorService" android:exported="true" />
		
		<service
			android:name=".PostureTileService"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
			android:icon="@drawable/ic_posture_tile"
			android:exported="true">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>
	</application>
</manifest>
